.App {
  text-align: center;
}

button{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
}

button:hover{
  background-color: slategrey;
  color: thistle;
}

